#galeria { background: #fff; }
#galeria div.slick { margin-bottom: 0; }
#galeria div.slick .slick-prev { left: 0; }
#galeria div.slick .slick-next { right: 0; }
#galeria div.masonry { overflow: hidden; position: relative; height: 950px; }
#galeria div.masonry a { display: block; overflow: hidden; height: 100%; width: 100%; position: relative; z-index: 1; background-position: center center !important; background-size: cover !important; }
#galeria div.masonry a:hover { -webkit-opacity: .7; opacity: .7; }
#galeria div.masonry .grid-item { float: left; border: 1px solid #fff; -webkit-box-sizing: border-box; box-sizing: border-box; }
#galeria div.masonry a img { visibility: hidden; }
#galeria a span.play { display: block; width: 45px; height: 45px; background: url(/images/icono-play.png) no-repeat; position: absolute; left: 50%; top: 50%; margin: -22px 0 0 -22px; -webkit-transition: all 500ms ease; -moz-transition: all 500ms ease; -ms-transition: all 500ms ease; -o-transition: all 500ms ease; transition: all 500ms ease; }
#galeria a:hover span.play { -moz-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }
#galeria div.masonry div.columna { width: 55%; }
#galeria div.masonry div.columna.right { position: absolute; right: 0; top: 0; height: 100%; width: 45%; }
#galeria div.masonry .w20 { width: 20%; }
#galeria div.masonry .w30 { width: 30%; }
#galeria div.masonry .w40 { width: 41.7%; }
#galeria div.masonry .w50 { width: 50%; }
#galeria div.masonry .w70 { width: 70%; }
#galeria div.masonry .w60 { width: 58.3%; }
#galeria div.masonry .w66 { width: 66.6%; }
#galeria div.masonry .w33 { width: 33.4%; }
#galeria div.masonry .w100 { width: 100%; }
#galeria div.masonry .h40 { height: 40%; }
#galeria div.masonry .h50 { height: 50%; }
#galeria div.masonry .h60 { height: 60%; }
.slick-slide { height: 950px; }