/* Generales */

/* -------------------- Globales */
body, html {
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
	padding: 0px;
	margin:0px;
	color: #222;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

section {
	width: 1920px;
	height: 1081px;
	overflow: hidden;
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	top: 131px;
}

/*--------------------- Menu */
.menu {
	width: 125px;
	height: 100%;
	position: fixed;
	background: #171717;
	right: 0;
	top: 0;
	z-index: 100;
	display: none;
	transition: all 2s ease-in;
}

.menu .actual {
	background: #000;
}

.menu.abierto {
	display: block;
}

.boton-menu {
	width: 125px;
	height: 125px;
	background: #060606;
	position: absolute;
	bottom: -1px;
	right: 0;
	z-index: 101;
}

.novisible {
	display: none;
}

.visible {
	display: block !important;
}

.menu ul {
	margin-top: 90px;
}

.menu ul > li {
	width: 100%;
	height: 125px;
	border-bottom: 1px solid #000;
	padding: 40px;
	color: white;
}

.menu ul > li:last-child {
	border: none;
}

.menu img.iconsvg {
	max-width: 40px;
	margin-left: 5px;
}

.menu-icon-wrapper {
	position: relative;
	display: inline-block;
	width: 125px;
	height: 125px;
	pointer-events: none;
	transition: 0.1s;
	background: #060606;
}

.menu-icon-wrapper.scaled {
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
}

.menu-icon-wrapper svg {
	position: absolute;
	top: 15px;
	left: 15px;
	-webkit-transform: scale(0.1);
	-ms-transform: scale(0.1);
	transform: scale(0.1);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}

.menu-icon-wrapper svg path {
	stroke: #fff;
	stroke-width: 20px;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: transparent;
}

.menu-icon-wrapper .menu-icon-trigger {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	pointer-events: auto;
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

.menu-icon-wrapper .menu-icon-trigger:hover, .menu-icon-wrapper .menu-icon-trigger:focus {
	outline: none;
}

/* Header */
header {
	height: 134px;
	background: white;
	-webkit-box-shadow: 5px 5px 41px -12px rgba(71, 71, 71, 1);
	-moz-box-shadow: 5px 5px 41px -12px rgba(71, 71, 71, 1);
	box-shadow: 5px 5px 41px -12px rgba(71, 71, 71, 1);
	position: absolute;
	width: 100%;
	z-index: 100;
}

header img.logonk {
	margin-left: 30px;
}

/* Sección Inicio */
#inicio-menu {
	position: absolute;
	width: 250px;
	background: white;
	padding: 30px;
	bottom: -1px;
	right: 125px;
	height: 125px;
	z-index: 100;
}

#inicio-menu > .inicia-aqui {
font-family: 'Karla', sans-serif;
	font-weight: bold;
	font-style: normal;
	text-transform: uppercase;
	text-align: center;
	font-size: 25px;
	margin-top: 15px;
}

/* Sección Plantas */

ul.terminaciones_des {
	margin-left:30px;
	margin-top:30px;
}
ul.terminaciones_des li {
	padding-left:20px;
	list-style: circle;
	padding-bottom:5px;
}
#plantas .bloque-plantas {
	background: white;
	-webkit-box-shadow: 5px 5px 41px -12px rgba(71, 71, 71, 1);
	-moz-box-shadow: 5px 5px 41px -12px rgba(71, 71, 71, 1);
	box-shadow: 5px 5px 41px -12px rgba(71, 71, 71, 1);
	padding: 30px;
	height: 100%;
	padding-top: 191px;
}

#plantas .descripcion {
font-family: 'Karla', sans-serif;
	font-size: 14px;
	color: #606060;
	line-height: 120%;
	padding: 30px;
}

.single-plantas {
	font-family: 'Karla', sans-serif;
	font-size: 14px;
	color: #606060;
	line-height: 120%;
}

#plantas h2 {
	font-size: 40px;
	font-family: 'Karla', sans-serif;
	color: #00448e;
}

#plantas h3 {
	font-weight: bold;
}

.single-plantas {
	width: 100%;
	height: 100%;
	display: none;
}

.single-plantas .columna-izquierda {
	width: 500px;
	float: left;
	padding: 30px;
	padding-top: 100px;
}

.single-plantas .columna-centro {
	width: 920px;
	float: left;
	padding-top:100px;
}

.single-plantas .superficie {
	font-weight: bold;
}

.single-plantas .superficie span {
	font-weight: normal;
}

.single-plantas .columna-derecha {
	width: 500px;
	float: left;
	padding: 30px;
	padding-top: 350px;
}

#mas-modelos {
	width: 1795px;
	bottom: -33px;
	position: absolute;
}

.mas-planta {
	width: 25%;
	float: left;
	position: relative;
	z-index: 11;
}

/* Plantas Miniaturas */
.mas-planta-abierta {
	background: white;
	-webkit-box-shadow: 5px 5px 41px -12px rgba(71, 71, 71, 1);
	-moz-box-shadow: 5px 5px 41px -12px rgba(71, 71, 71, 1);
	box-shadow: 5px 5px 41px -12px rgba(71, 71, 71, 1);
	position: absolute;
	display: none;
	bottom: 230px;
	z-index: 100;
}

.mas-planta-abierta .bajar-planta {
	padding: 10px;
	float: left;
	width: 100%;
}

.mas-planta-abierta .descripcion {
	font-size: 20px;
}

.mas-planta-abierta .bajar-planta .icon-svg {
	max-width: 30px;
	transform: rotate(90deg);
	float: right;
}

.mas-planta-abierta .img-planta-abierta {
	max-width: 80%;
	display: block;
	margin: 0 auto;
}

.mas-planta-abierta .ver-planta {
	background: #002454;
	width: 100%;
	float: left;
	color: white;
	padding: 15px;
	text-align: center;
}

section.mascara {
	position: absolute;
	background: rgba(255, 255, 255, 0.92);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	display: none;
}

.single-plantas {
	display: none;
}

#plantas-miniaturas {
	display: none;
}

.actual {
	background: rgba(255, 255, 255, 0.5);
	opacity: 0.3;
	pointer-events: none;
}

/* Arreglos Fancybox */
.fancybox-title iframe, .fancybox-title .pin-it-button {
	display: none !important;
}


.fancybox-button--fullscreen, .fancybox-button--play, .fancybox-button--thumbs, .fancybox-button--share {
	display: none !important;
}



section#plantas {
	top:196px;
}

/* Google Maps */
#map-canvas {
	height: 700px;
	-webkit-box-shadow: 5px 5px 41px -12px rgba(71, 71, 71, 1);
	-moz-box-shadow: 5px 5px 41px -12px rgba(71, 71, 71, 1);
	box-shadow: 5px 5px 41px -12px rgba(71, 71, 71, 1);
}

#markers {
	margin: 50px auto;
	text-align: center;
	display:block;
	width: 1500px;
	}

#markers img {

/*	filter: grayscale(100%);*/
	width:30px;
}

.marker-link {
	float: left;
padding:30px;
	width: 136px;
		-webkit-box-shadow: 5px 5px 41px -12px rgba(71, 71, 71, 0.5);
	-moz-box-shadow: 5px 5px 41px -12px rgba(71, 71, 71, 0.5);
	box-shadow: 5px 5px 41px -12px rgba(71, 71, 71, 0.5);
	border-radius: 15px;
}
.marker-link.activo {
	background:#ddd;
	color:#222;
}
.ubica {
		font-family: 'Karla', sans-serif;
		text-transform: uppercase;
		font-size:12px;
		text-align: center;
		margin-top:10px;

}



/* Video */
section#inicio-video {
	top: 0px;
}

/* Loading */

section.loading
{
	background:#0c2d70;
	z-index:9999;
	top:0;
	width: 1920px;
	color:white;

}
section.loading img {


width:90px;


}

.fancybox-slide>* {
	background:black;
}

section.loading .cargando {
	display:block;
	margin:0 auto;
	top:44%;
	position: relative;
	text-align: center;

}

section.loading .cargando p {
	padding-top:10px;
	text-transform: uppercase;
	font-size:11px;
	opacity: 0.5;
}

.descripcion h5 {
	font-family: GFS Didot;
	font-size:30px;
}

.numeros {
	width: 100%;
	float:left;
}

.numeros li img {
width: 100%;
}

.numeros li {
width:80px;
float:left;
margin-right:30px;
position: relative;
}


.numeros > li > span {
	position: absolute;
	left:45px;
	top:15px;
	font-size:13px;


}

/* Sección Videos */

section#videos {


}

section#videos a:focus {
	outline: none;
}
.bloque-video video {
	max-height: 300px;
	min-height: 300px;
	 object-fit: fill;
	 -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.bloque-video  {

padding-bottom: 500px;
    padding-top: 293px;
	-webkit-box-shadow: 5px 5px 41px -12px rgba(71, 71, 71, 1);
	-moz-box-shadow: 5px 5px 41px -12px rgba(71, 71, 71, 1);
	box-shadow: 5px 5px 41px -12px rgba(71, 71, 71, 1);
}

section#videos h2 {
	text-align: center;
	color:#222;
	font-size:18px;
	text-transform: uppercase;
	font-family: 'Karla', sans-serif;

}

.sin-padding {
	padding:0px;
}

.fancybox-slide--video video {
	width:1280px;
	height:720px;

}

.fancybox-slide>* {
	padding:0px;
}

/* Orden de secciones para producción */
/* Mientras más grande el z-index cambia la posición de vista para trabajar */
section#ubicacion {
	z-index: 10;
}

section#inicio-video {
	z-index: 11;
}

section#inicio {
	z-index: 50;
	display:none;
	background:white;
}

section#plantas {
	z-index:11;
}

section#videos {
	z-index:11;
}

section#video360 {
	display:none;
	top:134px;
}


/* Mapa */
#activmap-ui-wrapper {
    top: unset;
    bottom: 50px;
    left: 480px;
    position: fixed;
}
img.map-svg{
	width: 30px;
	margin-top:8px;

}

.map-nombre {
	margin-top:10px;
	padding:8px;
}
#activmap-search, #activmap-filters {
	background:white;
}
.marker-selector label {
	color:#222;
}

.marker-selector label:hover, .marker-selector.active label {
	background:#ddd;
	color:#555;
}

.activmap-place:hover, .activmap-place.active {
	background:black;
}
h4.activmap-title {

color:#0c2d70;

}

::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #000;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #646464;}}
::-webkit-resizer { background-color: #666;}

.hide {
	display:none;
}

section.nohayinternet {
    background: #0c2d70;
    color: white;
    width: 1920px;
    padding: 100px;
    height: 949px;
    z-index: 40;
    display:none;

}