#activmap-wrapper {
    color: #ccc;
    background: #333;
}
#activmap-search,
#activmap-filters {
    background: rgba(23, 23, 23, 0.8);
}
#activmap-location {
    color: #fff;
    background: #555;
    border: 1px solid #666;
}
a.activmap-action {
    color: #fff;
}
a.activmap-action#activmap-geolocate {
    background: #28C7D6;
    border-color: #28C7D6;
}
a.activmap-action#activmap-reset {
    background: #555;
    border-color: #555;
}
a.activmap-action#activmap-target {
    background: #008CFF;
    border-color: #008CFF;
}
a.activmap-action:hover {
    background: #666!important;
    border-color: #666!important;
    color: #fff!important;
}
.marker-selector label {
    color: #ccc;
}
.marker-selector label:hover,
.marker-selector.active label {
    background: #28C7D6;
    color: #fff;
}
#activmap-places {
    background: #333;
}
#activmap-results-num {
    color: #fff;
    background: #262626;
}
.activmap-place:hover,
.activmap-place.active {
    background: #28C7D6;
    color: #fff;
}
h4.activmap-title {
    color: #28C7D6;
}
.activmap-address::before,
.activmap-phone::before,
.activmap-url::before {
    color: #eee;
    background: #888;
}
.activmap-details a {
    color: #28C7D6;
}
